In [5]:
# Tuple in Python

# collection of elements enclosed within ()
# tuple is immutable, means when it created then not changed 

tup1 = (1, True, 3.14, 3-2j)
tup1

(1, True, 3.14, (3-2j))

In [6]:
type(tup1)

tuple

In [3]:
tup1[0]  # extracting fist element

1

In [4]:
tup1[-1]  # extracting last element

(3-2j)

In [5]:
tup1[1:4]

(True, 3.14, (3-2j))

In [1]:
tup1[2] = 'hello'

NameError: name 'tup1' is not defined

In [2]:
# as tuple is imutable so we cant change it

In [7]:
len(tup1)

4

In [8]:
tup1 = (1,2,3)
tup2 = (4,5,6)

In [9]:
tup1, tup2

((1, 2, 3), (4, 5, 6))

In [10]:
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [11]:
tup2+tup1

(4, 5, 6, 1, 2, 3)

In [12]:
tup2*2+tup1 # this will repeat

(4, 5, 6, 4, 5, 6, 1, 2, 3)

In [13]:
# tuple functions

# min function
min(tup1)

1

In [14]:
# max function
max(tup2)

6

In [16]:
# List : collection of elements enclosed in []

# difference between tuple and list is : tuple is imutable and list is mutable 

list1 = [1, 'zayan', 3.14, "c"]
list1

[1, 'zayan', 3.14, 'c']

In [17]:
list1[1]

'zayan'

In [18]:
list1[-1]

'c'

In [23]:
list1[2:4]

[3.14, 'c']

In [20]:
type(list1)

list

In [24]:
# modifying the list
list1[0] = 'zia'

In [25]:
list1

['zia', 'zayan', 3.14, 'c']

In [28]:
# adding new element
list1.append(33)
list1

['zia', 'zayan', 3.14, 'c', 33, 33, 33]

In [29]:
list1.pop()

33

In [30]:
list1

['zia', 'zayan', 3.14, 'c', 33, 33]

In [31]:
list1.pop()

33

In [32]:
# reverse the list
list1.reverse()
list1

[33, 'c', 3.14, 'zayan', 'zia']

In [33]:
list1

[33, 'c', 3.14, 'zayan', 'zia']

In [37]:
list1.insert(1,"xx")
list1

[33, 'xx', 'xx', 'c', 3.14, 'zayan', 'zia']

In [38]:
li = [2,5,1,7,9,6,0,4]
li.sort()
li

[0, 1, 2, 4, 5, 6, 7, 9]

In [39]:
list1+li

[33, 'xx', 'xx', 'c', 3.14, 'zayan', 'zia', 0, 1, 2, 4, 5, 6, 7, 9]

In [40]:
# Task 01: 
# Create a list of 10 values 
# Display the elements of a list
# Update the value of 3rd index
# Reverse the list
# Add 2 more elements in 2nd index and print list
# Pop element of 1 index and display list


l1 = [1,2,3,4,5,6,7,8,9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
l1[3] = 11
l1

[1, 2, 3, 11, 5, 6, 7, 8, 9, 10]

In [42]:
l1.reverse()
l1

[10, 9, 8, 7, 6, 5, 11, 3, 2, 1]

In [43]:
l1.insert(2,22)
l1.insert(2,33)
l1

[10, 9, 33, 22, 8, 7, 6, 5, 11, 3, 2, 1]

In [45]:
l1.pop(1)

9

In [46]:
l1

[10, 33, 22, 8, 7, 6, 5, 11, 3, 2, 1]

In [1]:
# Dictionary 

# unordered collection of key-value pairs enclosed with {}
# it is also mutable 

d1 = {'apple':20,'banana':50,'orange':30,'mango':100} # apple mango etc is keys
d1

{'apple': 20, 'banana': 50, 'orange': 30, 'mango': 100}

In [2]:
type(d1)

dict

In [4]:
d1.keys() # extracting keys

dict_keys(['apple', 'banana', 'orange', 'mango'])

In [5]:
d1.values() # extracting values

dict_values([20, 50, 30, 100])

In [6]:
# modefying dictionary

# adding new element

d1["strawbary"] = 200
d1

{'apple': 20, 'banana': 50, 'orange': 30, 'mango': 100, 'strawbary': 200}

In [7]:
# changing exsisting elements
d1["apple"] = 40
d1

{'apple': 40, 'banana': 50, 'orange': 30, 'mango': 100, 'strawbary': 200}

In [10]:
d1["apple"] = 40
d1

{'apple': 40, 'banana': 50, 'orange': 30, 'mango': 100, 'strawbary': 200}

In [11]:
# dictionary functions

# append using update function
d2 = {'aa':22,'dd':32}
d1.update(d2)

d1

{'apple': 40,
 'banana': 50,
 'orange': 30,
 'mango': 100,
 'strawbary': 200,
 'aa': 22,
 'dd': 32}

In [12]:
d1

{'apple': 40,
 'banana': 50,
 'orange': 30,
 'mango': 100,
 'strawbary': 200,
 'aa': 22,
 'dd': 32}

In [13]:
# poping element

d1.pop('mango')
d1

{'apple': 40, 'banana': 50, 'orange': 30, 'strawbary': 200, 'aa': 22, 'dd': 32}

In [16]:
# Task 02:
# Create dictionary 
# Display dictionary
# Print keys and value separately
# Insert new key-value pair 
# Copy dictionary into new dictionary  

data = {'Name':'Zia', 'age':27, 'occupation':'Engineer'}
data

{'Name': 'Zia', 'age': 27, 'occupation': 'Engineer'}

In [17]:
data.keys()

dict_keys(['Name', 'age', 'occupation'])

In [18]:
data.values()

dict_values(['Zia', 27, 'Engineer'])

In [19]:
data['residence'] = 'Kahuta'
data

{'Name': 'Zia', 'age': 27, 'occupation': 'Engineer', 'residence': 'Kahuta'}

In [21]:
contact = {'email':'abc@gmail.com', 'phone#': 3343332233}
contact

{'email': 'abc@gmail.com', 'phone#': 3343332233}

In [22]:
data.update(contact)
data

{'Name': 'Zia',
 'age': 27,
 'occupation': 'Engineer',
 'residence': 'Kahuta',
 'email': 'abc@gmail.com',
 'phone#': 3343332233}

In [23]:
# Sets

# unordered and unindexed colllection of elements enclosed in {}
# duplicates are not allowed 
# mutable


s1 = {1,3.14,"zia"}
s1

{1, 3.14, 'zia'}

In [24]:
s1 = {1,3.14,'zia',1,3.14}
s1

{1, 3.14, 'zia'}

In [25]:
# Set operations

# add element

s1.add('dd')
s1

{1, 3.14, 'dd', 'zia'}

In [26]:
s1

{1, 3.14, 'dd', 'zia'}

In [27]:
# add multiple elements

s1.update([2,'s',66])
s1

{1, 2, 3.14, 66, 'dd', 's', 'zia'}

In [28]:
s1

{1, 2, 3.14, 66, 'dd', 's', 'zia'}

In [29]:
# remove element

s1.remove(1)
s1

{2, 3.14, 66, 'dd', 's', 'zia'}

In [30]:
# functions of set

s1 = {1,2,3}
s2 = {'a','b','c'}

# union methode

s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [31]:
# intersection

s1.intersection(s2)

set()