# Contional Statements

In [2]:
## If else statement

a = 10
b = 20

if a > b: 
    print("a is greater than b")
else: 
    print("b is greater than a")

b is greater than a

In [3]:
a,b,c = input("Enter three integer to compare: ").split(' ')
a = int(a)
b = int(b)
c = int(c)

if (a > b) & (a > c):
    print(f"{a} is greater value than others")
elif (b > a) & (b > c):
    print(f"{b} is greater value than others")
elif (c > a) & (c > b):
    print(f"{c} is greater value than others")

Enter three integer to compare: 3 2 8
8 is greater value than others

In [4]:
# if in tuple

tup1 = ('a', 3, 8.11)

if 3 in tup1:
    print("value present in tup1")

value present in tup1

In [5]:
# if with list

l1 = [1,2,4,7,8]

if l1[1] == 2:
    l1[1] = 4
l1

[1, 4, 4, 7, 8]

In [6]:
# if with dictionary

d1 = {'k1':10, 'k2':20, 'k3':30}
d1

{'k1': 10, 'k2': 20, 'k3': 30}

In [7]:
if d1['k2'] == 20:
    d1['k2'] = 33
d1

{'k1': 10, 'k2': 33, 'k3': 30}

# Loop statements

In [9]:
# While Loop

i = 1
while i <= 10:
    print(i, end=' ')   # end = ' ' this will end new line after each iteration
    i += 1

1 2 3 4 5 6 7 8 9 10

In [13]:
i = 1
t = 2
while i <= 10:
    print(f'{t} * {i} = {t*i}')
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [19]:
# while with List 

l1 = [1, 2, 3, 4, 5]

# add 100 in each value of list

i = 0
while i < len(l1):
    print(f'{l1[i]} + 100 = {l1[i] + 100}')
    l1[i] = l1[i] + 100
    i +=1
l1

1 + 100 = 101
2 + 100 = 102
3 + 100 = 103
4 + 100 = 104
5 + 100 = 105

[101, 102, 103, 104, 105]

In [22]:
# For loop

# used for iterate over sequence (tuple, list, dictionary..)
# syntax  
# for val in sequence:
    # body of for
    
# loop with list

l1 = ['orange', 'apple', 'mango', 'banana']

for i in l1:
    print(i)

orange
apple
mango
banana

In [23]:
# nested for loop

l1 = ['red', 'green', 'blue']
l2 = ['chair','apple','marker']

for i in l1:
    for j in l2:
        print(i,j)

red chair
red apple
red marker
green chair
green apple
green marker
blue chair
blue apple
blue marker

# Task 01 Implement for loop, remove newline, inserting character/symbol in between characters using print statement

In [24]:
for i in "ZiaUrRehman":
    print(i)

Z
i
a
U
r
R
e
h
m
a
n

In [25]:
for i in "ZiaUrRehman":
    print(i,end='*')

Z*i*a*U*r*R*e*h*m*a*n*

In [26]:
# perform above task with list

l1 = [1,2,3,4]

for i in l1:
    print(i)

1
2
3
4

In [27]:
for i in l1:
    print(i,end=' ')

1 2 3 4

In [28]:
# printing counting from 1 to 10 using in range function

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [29]:
# print table of any number

num = int(input("enter integer: "))

for i in range(1,11):
    print(f'{num} * {i} = {num * i}')

enter integer: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [34]:
# printing the keys and values of dictionary using for loop

d1 = {'Name':'zia', 'age':'27', 'qualification':'Computer Engineer'}

for i in d1:
    print(i,' = ',d1[i])

Name  =  zia
age  =  27
qualification  =  Computer Engineer

In [38]:
# print even numbers 

for i in range (0,100,2):
    print(f'{i}',end= ' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [39]:
for i in range (0,100):
    if i%2 == 0:
        print(f'{i}',end= ' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [48]:
# print even with size 5 in range of 1 to 101 and count them

count = 0

for i in range(1,101,5):
    if i%2 == 0:
        print(i,end=' ')
        count +=1;

print(f'\n{count}')

6 16 26 36 46 56 66 76 86 96
10

In [ ]:
# Take input from user and store in list using for loop

lis = []

for i in range (1,11):
    a = input("enter numbers: ")
    lis.append(a)
lis